<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.produtos_loja}}" name="produtos_loja">
        <label for="floatingInput">Nome do Produto</label>
    </div>
</div>

<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.alor}}" name="Valor">
        <label for="floatingInput">Valor</label>
    </div>
</div>

<div class="col-12">
    <button class="btn btn-primary" type="submit">Enviar</button>
</div>
</form>